
{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- informs Django's template engine that we will be using static files within template-->

{% block title_block %}
	About Rango
{% endblock %}

{% block body_block %}
	<h1>Rango says...</h1>
	<div>
		here is the about page. <br />
		<strong>This tutorial has been put together by David.</strong><br /
		
		<img src="{% static 'images/rango.jpg' %}"
			alt ="Picture of Rango" /> <!-- alt used to specify message if image not loaded -->
		<img src="{{ MEDIA_URL }}cat.jpg"
			alt ="Picture of a Cat" />
	</div>
{% endblock %}

